<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="/static/css/custom.css" type="text/css" rel="stylesheet" th:href="@{/css/custom.css}">
    <link href="/static/css/mdb.css" type="text/css" rel="stylesheet" th:href="@{/css/mdb.css}">

</head>
<body>


<th:block th:insert="/fragments/scripts.html :: my_scripts"/>
</body>
</html>