<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
    <th:block th:include="/fragments/head.html :: head"/>
</head>
<body class="background">
<div th:replace="/fragments/header.html :: header"/>

<div class="container">
    <div id="booking" class="d-flex justify-content-center col-md-12" >
        <div class="d-flex justify-content-center col-md-12">
            <div class="booking-form">
                <div class="form-header">
                    <h1>Make your reservation</h1>
                </div>
                <form th:action="@{/booking}" id="bookingId" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="form-label">Check In</span>
                                <input th:value="${booking.arrivalTime}" name="arrivalTime" type="date" required>
                            </div>
                            <span class=" in-out d-none d-md-block">&#8652;</span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="form-label">Check out</span>
                                <input th:value="${booking.departureTime}" name="departureTime" class="form-control" type="date" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="form-label">Number of persons</span>
                                <select th:field="*{booking.people}" class="form-control">
                                    <option th:value="1" >One</option>
                                    <option th:value="2">Two</option>
                                    <option th:value="3">Three</option>
                                    <option th:value="4">Four</option>
                                    <option th:value="5">Five</option>
                                </select>
                                <span class="select-arrow"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="form-label">Number of beds</span>
                                <select th:field="*{room.numberBeds}" class="form-control">
                                    <option th:value="1">One</option>
                                    <option th:value="2">Two</option>
                                    <option th:value="3">Three</option>
                                    <option th:value="4">Four</option>
                                    <option th:value="5">Five</option>
                                </select>
                                <span class="select-arrow"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="form-label">Internet</span>
                                <select th:field="*{room.internet}" class="form-control">
                                    <option th:value="true">Required</option>
                                    <option th:value="false">Not required</option>
                                </select>
                                <span class="select-arrow"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="form-label">Number of baths</span>
                                <select th:field="*{room.numberOfBath}" class="form-control">
                                    <option th:value="1">One</option>
                                    <option th:value="2">Two</option>
                                    <option th:value="3">Three</option>
                                    <option th:value="4">Four</option>
                                    <option th:value="5">Five</option>
                                </select>
                                <span class="select-arrow"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row center-div center-div-horizontal">
                        <p class="flex-center">
                            <input class="btn btn-primary waves-button waves-light light-blue" type="submit" value="Check rooms">
                        </p>
                    </div>
                </form>
                <div class="alert alert-danger" role="alert" th:if="${result == 'fail'}">
                    <span th:text="${description}"></span>
                </div>
                <div class="alert alert-success" role="alert" th:if="${result == 'success'}">
                    <span th:text="${description}"></span>
                </div>
            </div>
        </div>

    </div>
</div>

<th:block th:insert="/fragments/scripts.html :: my_scripts"/>
</body>
</html>