<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <th:block th:include="/fragments/head.html :: head"/>
</head>
<body class="background">

<div th:replace="/fragments/header.html :: header"/>

<section class="center-div center-div-horizontal center-div-vertical" id="contact">
    <div class="jumbotron row">



        <div class="container">
            <h2><strong>Hotel!</strong></h2>
            <p>ul. Zytnia 22,</p>
            <p>24-065 Kielce, Polska</p>

            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                            Reception
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <p>reception@hotelkielce.pl</p>
                            <p>+48 58 886 80 00</p>
                            <p>+48 58 886 80 01</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                            Service for business clients, meetings and events
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>mice@hotelkielce.pl</p>
                            <p>+48 82 886 80 80</p>
                            <p>+48 712 020 445</p>
                            <p>+48 672 803 530</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                            Handling individual reservations
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>reservation@hotelkielce.pl</p>
                            <p>+48 58 886 80 03</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                            Marketing
                        </a>
                    </div>
                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>marketing@hotelkielce.pl</p>
                            <p>+48 58 886 81 04</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<th:block th:insert="/fragments/scripts.html :: my_scripts"/>
</body>
</html>