<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <th:block th:include="/fragments/head.html :: head"/>
</head>
<body class="background">
<div th:replace="/fragments/header.html :: header"/>
<div class="container">

    <div class="jumbotron row">
        <div class="container">
            <h1 class="display-3">Hotel!</h1>
            <p>Designed for natural living.</p>
        </div>
    </div>


<!--   po zalogowaniu  jako admin-->

    <div sec:authorize="hasRole('ROLE_ADMIN')" class="row justify-content-center">
        <div class="card text-white bg-primary m-2 col-md-4" style="max-width: 18rem;">
                <div class="card-body">
                    <h1 class="card-title btn waves-button waves-light btn-lg">Reservation management</h1>
                    <hr>
                    <p class="card-text">Select from a wide selection of over 50 rooms in the hotel.</p>
                </div>
        </div>
        <div class="card text-white bg-secondary m-2 col-md-4" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title btn waves-button waves-light btn-lg">Booking management</h5>
                <hr>
                <p class="card-text">Create, delete or update bookings</p>
            </div>
        </div>
        <div class="card text-white bg-success m-2 col-md-4" style="max-width: 18rem;">
            <a href="/roomManage">
            <div class="card-body">
                <h5 class="card-title btn waves-button waves-light btn-lg">Room management</h5>
                <hr>
                <p class="card-text">Management of all hotel rooms</p>
            </div>
            </a>
        </div>

    </div>

        <div class="row alert alert-danger" role="alert" th:if="${result == 'fail'}">
            <span th:text="${description}"></span>
        </div>
        <div class="row alert alert-success" role="alert" th:if="${result == 'success'}">
            <span th:text="${description}"></span>
        </div>


    <hr>
    <footer>
        <p>&copy; Company 2019</p>
    </footer>
</div>

<th:block th:insert="/fragments/scripts.html :: my_scripts"/>
</body>
</html>