<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:include="/fragments/head.html :: head"/>
</head>
<body class="background">
<div th:replace="/fragments/header.html :: header"/>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hotel!</h1>
        <p>Niezwykle nowoczesny, elastyczny, gościnny i przyjemny hotel, skrojony specjalnie dla gości korzystających z
            sieci, którzy wiedzą czego chcą. Doświadczysz wrażeń, które pozostaną z Tobą na
            zawsze.</p>
        </div>
</div>

<div class="album text-muted">
<div class="container">
    <div class="row d-flex justify-content-center ">
        <div class="card m-3" style="width: 20rem;">
            <img class="card-img-top" th:src="@{/images/hotel.jpg}" alt="hotel image">
            <div class="card-body light-blue white-text">
                <p class="card-text">FACEBOOK</p>
            </div>
        </div>
        <div class="card m-3" style="width: 20rem;">
            <img class="card-img-top" th:src="@{/images/hotel.jpg}" alt="hotel image">
            <div class="card-body light-blue white-text">
                <p class="card-text">FACEBOOK</p>
            </div>
        </div>
        <div class="card m-3" style="width: 20rem;">
            <img class="card-img-top" th:src="@{/images/hotel.jpg}" alt="hotel image">
            <div class="card-body light-blue white-text" >
                <p class="card-text">FACEBOOK</p>
            </div>
        </div>
    </div>

    <hr>
    <footer>
        <p>&copy; Company 2019</p>
    </footer>
</div>
</div>

<th:block th:insert="/fragments/scripts.html :: my_scripts"/>
</body>
</html>