<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:include="/fragments/head.html :: head"/>
</head>
<body class="background">
<div th:replace="/fragments/header.html :: header"/>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hotel!</h1>
        <p>Designed for natural living.</p>
        </div>
</div>

<div sec:authorize="isAuthenticated()" class="card card-custom bg-white border-white">
    <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
    <div class="card-custom-avatar">
        <img class="img-fluid" src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg" alt="Avatar" />
    </div>
    <div class="card-body" style="overflow-y: auto">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Cards have minimum height set. You can use Bootstrap <a href="https://getbootstrap.com/docs/4.0/components/card/#card-decks">card-decks</a> to align them nicely in a row.</p>
    </div>
    <div class="card-footer" style="background: inherit; border-color: inherit;">
        <a href="#" class="btn btn-primary">Option</a>
        <a href="#" class="btn btn-outline-primary">Other option</a>
    </div>
</div>

<div class="album text-muted">
<div class="container">
    <div class="row d-flex justify-content-center ">
        <div class="card m-3" style="width: 20rem;">
            <img class="card-img-top" th:src="@{/images/hotel.jpg}" alt="hotel image">
            <div class="card-body light-blue white-text">
                <p class="card-text">FACEBOOK</p>
            </div>
        </div>
        <div class="card m-3" style="width: 20rem;">
            <img class="card-img-top" th:src="@{/images/hotel.jpg}" alt="hotel image">
            <div class="card-body light-blue white-text">
                <p class="card-text">FACEBOOK</p>
            </div>
        </div>
        <div class="card m-3" style="width: 20rem;">
            <img class="card-img-top" th:src="@{/images/hotel.jpg}" alt="hotel image">
            <div class="card-body light-blue white-text" >
                <p class="card-text">FACEBOOK</p>
            </div>
        </div>
    </div>

    <hr>
    <footer>
        <p>&copy; Company 2019</p>
    </footer>
</div>
</div>

<th:block th:insert="/fragments/scripts.html :: my_scripts"/>
</body>
</html>