<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <th:block th:include="/fragments/head.html :: head"/>
</head>
<body class="background">

<div th:replace="/fragments/header.html :: header"/>

<section class="center-div center-div-horizontal center-div-vertical" id="register">
    <div class="container" >
        <form th:action="@{/register}" id="regForm" method="post" th:object="${user}">
            <h1 class="heading h1-responsive blue center-div white-text card-header">SIGN UP</h1>

            <div class="form-group card card-block p-3 ">

                <div>
                    <label for="firstName">Your first name</label>
                    <input id="firstName" th:field="*{firstName}"  placeholder="John" required="required" type="text"/>
                </div>
                <div>
                    <label for="lastName">Your last name</label>
                    <input id="lastName" th:field="*{lastName}" placeholder="Doe" required="required" type="text"/>
                </div>
                <div>
                    <label data-icon="e" for="username">Your unique customer name</label>
                    <input id="username" th:field="*{uniqueName}" placeholder="johndoe_199x" required="required" type="text"/>
                </div>
                <div>
                    <label for="email">Your email</label>
                    <input id="email" th:field="*{email}" placeholder="johndoe_199x@mail.com" required="required" type="email"/>
                </div>
                <div>
                    <label for="password">Your password </label>
                    <input id="password" th:field="*{password}" placeholder="Password" type="password"/>
                </div>
                <div>
                    <label data-icon="p" for="confirmPassword">Please confirm your password </label>
                    <input id="confirmPassword" placeholder="Confirm Password" required="required" type="password"/>
                </div>
                <div style="text-align: center">
                    <input class="btn btn-primary waves-button waves-light" style="width: 240px; height: 40px"
                           type="submit" value="Sign up"/>
                </div>
                <div class="change_link" style="text-align: center">
                    Already a member ? </br>
                    <a href="/login"> Login Instead </a>
                </div>
            </div>
        </form>
    </div>
</section>


<th:block th:insert="/fragments/scripts.html :: my_scripts"/>
</body>
</html>